
<%- include("top") -%>
<form action="/" method="post">
    <input placeholder="name"  name="name" autocomplete="none" required/>
    <br />
    <input placeholder="age" type="number" name="age"autocomplete="none" required/>
    <br />
    <input placeholder="local area" name="localArea" autocomplete="none" />
    <br />
    <input placeholder="City" name="city" autocomplete="none" required/>
    <br />
    <input placeholder="State" name="state" autocomplete="none" required/>
   
    <br />
    <input placeholder="voter id" name="voterID"autocomplete="none" required />
    <br />
    <select placeholder="gender" name="gender" >
        <option value="">Select a value</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
    </select>  
    <br />
    <button name="submit">Submit</button>  
</form>

<%- include("bot") -%>

